body{background-color: blanchedalmond;}
img{ border-radius: 10px;}
#cuatro{background-color: blueviolet; color: aliceblue;}
#cinco{background-color: blue; color: aliceblue;}
#siete{background-color: indianred; color: black;}